body {
    background: rgb(24, 14, 14);
    color: rgb(220, 205, 205);
}

h1 {
    color: rgb(187, 25, 25);
    font-family: "consolas", sans-serif;
} 
 
 
p {
    color: rgb(220, 205, 205);
    font-family: "consolas", sans-serif;
    font-size: 18px;
}
 