body {
    background: #000000;
    color: #000000;
}

h1 {
    color: white;
    font-family: "consolas", sans-serif;
} 
 
 
p {
    color: white;
    font-family: "consolas", sans-serif;
    font-size: 18px;
}
 