body {
    background: rgb(0, 0, 0);
    color: rgb(220, 205, 205);
}

h1 {
    color: rgb(255, 255, 255);
    font-family: "consolas", sans-serif;
} 
 
 
p {
    color: rgb(220, 205, 205);
    font-family: "consolas", sans-serif;
    font-size: 18px;
}
 